<p>{{post.title}}</p>
<p>{{post.body}}</p>

{{#if updatePost}}
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      {{input value=title id="title" placeholder=post.title}}
    </div>
    <div class="form-group">
      <label for="body">Body</label>
      {{input value=body id="body" placeholder=post.body}}
    </div>
    <button {{action 'update' post}}>Update</button>
  </form>
{{else}}
  <button {{action 'updateFormShow'}}>Update Post</button>
{{/if}}
